.connections {
  composes: section from './../core.module.css';
  width: 44%;
  padding: 2%;
  border: 1px solid #9ab5ff;
  min-height: 150px;
  background: #e8edfb;
  -webkit-box-shadow: inset -1px -1px 6px #999;
  -moz-box-shadow: inset -1px -1px 6px #999;
  box-shadow: inset -1px -1px 6px #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 1% 0 0;
  zoom: 1;
}

.connectionsHeader {
  composes: sectionHeader from './../core.module.css';
}

.serviceList {
  margin: 5px 10px 10px 10px;
  padding: 0 0 15px 15px;
  border-bottom: 1px dotted #9ab5ff;
}

.connections p {
  padding: 0.5em;
  color: #444;
}

.connections strong {
  font-weight: bold;
}
.connections strong emphasis {
  font-weight: normal;
  font-style: italic;
}
