body {
  overflow-x: hidden;
}
.start,
.results,
.found-trips #map_area {
  width: 448px;
  padding: 25px;
  margin: 20px auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #6782cd;
  background: #f7f7f7;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
    0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
    0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.start {
  background: #f7f7f7 url(../images/logo.png) no-repeat 10px 10px;
  z-index: 10;
  position: relative;
}
.results {
  margin: 0 0 0 530px;
  padding-top: 120px;
}
body.found-trips {
  width: 1030px;
  margin: 20px auto;
  position: relative;
}
.found-trips {
  margin: 2em;
}
.found-trips .start,
.found-trips #map_area {
  margin: 0 0 0 -520px;
  position: fixed;
  left: 50%;
}
.found-trips #map_area {
  top: 20px;
  padding: 20px;
  height: 260px;
  width: 418px;
  margin-left: -500px;
}
.options-hd span,
.month .field-cap,
.year .field-cap,
.found-trips .tagline,
.nav-home {
  visibility: hidden;
  position: absolute;
}
.hd {
  color: #344881;
  font-size: 3.5em;
  text-shadow: 2px 1px 2px #6782cd;
  margin: 0 0 100px 0;
  padding: 0 0 0 90px;
}
.hd a {
  text-decoration: none;
  color: #344881;
}
.nav {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.85em;
}
.nav p {
  float: left;
  padding: 5px;
}
.nav a {
  color: #6782cd;
  text-decoration: none;
}
.sub-hd {
  height: 57px;
  position: absolute;
  width: 528px;
  margin-left: -40px;
  margin-top: -75px;
  z-index: 100;
  text-align: center;
}
.trip-nav .section-head {
  height: 90px;
  position: fixed;
  width: 528px;
  margin-left: -40px;
  margin-top: -95px;
  z-index: 100;
  text-align: center;
}
.home-city {
  display: block;
  font-size: 24px;
  padding: 4px 0;
}
.sub-hd span,
.trip-nav hgroup {
  background: #6782cd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
  -khtml-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
  display: block;
  font-size: 30px;
  color: #fff;
  padding: 10px 25px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
  overflow: hidden;
  white-space: nowrap;
  width: 478px;
}
.trip-nav hgroup {
  background: #64991e;
}
.sub-hd:before,
.sub-hd:after,
.trip-nav .section-head:before,
.trip-nav .section-head:after,
.checkin:after {
  content: ' ';
  display: block;
  border-style: solid;
  border-width: 14px;
  border-color: transparent;
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
}
.sub-hd:before,
.trip-nav .section-head:before {
  border-right-color: #7d90a3;
  bottom: -14px;
  left: -14px;
}
.sub-hd:after,
.trip-nav .section-head:after {
  border-left-color: #7d90a3;
  margin-top: -15px;
  bottom: -14px;
  right: -14px;
}
.trip-nav .section-head:before {
  border-right-color: #82bb37;
}
.trip-nav .section-head:after {
  border-left-color: #82bb37;
}
.section-hd {
  font-size: 14px;
}
.field {
  margin: 6px 0;
}
.field input,
.field select {
  border: 1px solid #9ab5ff;
  font-size: 20px;
  color: #344881;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.field input {
  width: 202px;
  padding: 6px;
  background: #e8edfb;
  -webkit-box-shadow: inset -1px -1px 6px rgba(153, 153, 153, 0.4);
  -moz-box-shadow: inset -1px -1px 6px rgba(153, 153, 153, 0.4);
  box-shadow: inset -1px -1px 6px rgba(153, 153, 153, 0.4);
}
.month {
  float: left;
  margin-left: 220px;
}
.year {
  float: left;
}
.field-cap,
.fields-hd span {
  display: block;
  font-size: 22px;
  width: 219px;
  color: #344881;
  padding: 7px 13px 7px 0;
  text-align: right;
  position: relative;
}
.field-cap {
  float: left;
}
.fields-hd span {
  position: absolute;
}
.button {
  margin: 15px 0 0 0;
  text-align: right;
}
.trip-form {
  margin: 15px 0 0 0;
}
.options {
  float: left;
  width: 205px;
  margin: 9px 27px 0 0;
}
.button {
  text-align: right;
}
.button input {
  width: 216px;
}
.options-fields,
.trip-items {
  margin: 15px 0;
  background: #fff;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: inset -1px -1px 7px #999;
  -moz-box-shadow: inset -1px -1px 7px #999;
  box-shadow: inset -1px -1px 7px #999;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.options a {
  width: 178px;
}
.options-fields input {
  width: 171px;
}
.fields-hd span {
  width: 212px;
}
.options-fields .field-cap {
  width: 209px;
}
.options-fields + .button {
  margin-left: 232px;
}
.remove-options,
.trip-items .section-head {
  text-align: right;
  background: #e8edfb;
  padding: 7px;
  margin: 0 0 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
.trip-nav-list {
  padding: 10px 0 10px 30px;
  font-size: 20px;
}
.trip-nav-itm {
  list-style: decimal;
  color: #344881;
}
.trip-nav-itm a {
  text-decoration: none;
  color: #6782cd;
  display: block;
  padding: 3px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.trip-nav-itm a.selected {
  background: #e8edfb;
  color: #344881;
}
.trip-items .section-head {
  float: left;
  width: 412px;
  text-align: left;
  color: #344881;
  font-size: 20px;
  margin-bottom: 20px;
}
.trip-item-hd {
  float: left;
  font-weight: bold;
}
.trip-det-det.date-range {
  float: right;
  font-size: 16px;
  padding: 3px 0;
}
.trip-det-det {
  line-height: 1.2em;
}
.trip-det-det.count {
  float: left;
  margin: 0 0 0 6px;
}
.trip-det-det.count:before {
  content: '(';
}
.trip-det-det.count:after {
  content: ')';
}
.remove-options a,
.btt a {
  display: block;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  padding-right: 30px;
  text-decoration: none;
  color: #9ab5ff;
}
.remove-options a {
  background: url('../images/sprite.png') no-repeat 100% -25px;
}
.btt {
  clear: both;
}
.btt a {
  background: #e8edfb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 20px 0 0 0;
  padding: 0;
  width: 426px;
}
.btt a:hover {
  background: #9ab5ff;
  color: #344881;
}
.remove-options a:hover {
  background-position: 100% 0;
  color: #6782cd;
}
.remove-options span {
  position: absolute;
  top: 7px;
  left: 10px;
  line-height: 25px;
  color: #9ab5ff;
  font-size: 1.2em;
}
.checkin-hd {
  color: #344881;
  font-size: 20px;
  padding: 0 3px 7px 38px;
  margin: 0 3px 0 3px;
  clear: both;
  line-height: 32px;
  position: relative;
}
.checkin-hd a {
  color: #344881;
  text-decoration: none;
}
.checkin {
  padding: 6px;
  position: relative;
  line-height: 24px;
  margin: 0 0 25px 0;
  float: left;
  width: 409px;
  background: #f3f3f3;
  border-top: 1px dotted #344881;
  border-bottom: 1px dotted #b3b3b3;
}
.checkin .date {
  float: left;
  width: 65%;
}
.checkin .time {
  float: right;
  width: 35%;
}
.checkin dd.shout span {
  font-style: italic;
  color: #636363;
}
.from-to {
  text-align: center;
  font-size: 14px;
}
.trip-items {
  float: left;
}
.trip-items:after,
.results:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.trip-details-hd,
.trip-det-ttl,
.checkins-hd,
.checkin-ttl,
.checkin .name,
.checkin .city,
.checkin .state,
.checkin .zip,
.checkin .since,
.closed,
.checkin-det.photo-count {
  position: absolute;
  visibility: hidden;
}
.checkin .photos,
.checkin .comments {
  margin: 3px 0 0 0;
}
.checkin .photos {
  float: left;
  width: 50%;
}
.checkin-category {
  position: absolute;
  top: 0;
  left: 0;
}
.checkin-photo {
  display: inline;
}
.checkin-photo img {
  border: 1px solid #999;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.checkin-det.photos + dt + .checkin-det.comments {
  float: right;
  width: 35%;
}
.closed {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.hidden {
  opacity: 0;
}

/* ICONS */
.checkin-det {
  background: url(../images/icons.gif) no-repeat 0 3px;
  line-height: 28px;
}
.checkin-det span,
.checkin-det a {
  margin-left: 18px;
  background: #f3f3f3;
  padding: 0 0 0 6px;
  display: block;
  color: #333;
}
.checkin-det ul {
  margin-left: 18px;
  background: #f3f3f3;
  padding: 0 0 0 6px;
}
.checkin-det.date {
  background-position: -36px 3px;
}
.checkin-det.time {
  background-position: -72px 3px;
}
.checkin-det.cross {
  background-position: -54px 3px;
  clear: both;
}
.checkin-det.shout {
  background-position: -18px 3px;
  clear: both;
}
.checkin-det.photos {
  background-position: -108px 3px;
}
.checkin-det.photos a {
  margin-left: 0;
  padding-left: 0;
  display: inline;
}

.checkin-item {
  position: relative;
}
.checkin-item:before,
.checkin-item:after,
.checkin:before,
.checkin:after,
.trip-items:before,
.trip-items:after,
.section-head:before,
.section-head:after {
  content: '';
  display: table;
}
.checkin-item:after,
.checkin:after,
.trip-items:after,
.section-head:after {
  clear: both;
}
.checkin-item,
.checkin,
.trip-items,
.section-head {
  zoom: 1;
}
.venue-link a {
  height: 32px;
  width: 32px;
  overflow: hidden;
  text-indent: -1000px;
  background: url('../images/check-icon.png') no-repeat 0 0;
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
}
.found-trips #map_canvas {
  height: 100%;
  width: 100%;
  border: 1px solid #999;
}
.marked {
  cursor: pointer;
}
.state + .comments + .comments-count {
  clear: both;
}
